<div>
    <div id="SUBMENU">
        <button type="button" data-ng-repeat="model in models" data-ng-click="$parent.selected=model" data-ng-disabled="$parent.selected == model">{{model.name}}</button>
    </div>
    <div data-ng-hide="!export">
        <a data-ng-href="{{export}}" download="circuits_{{selected.name}}.csv" target="_blank">EXPORT</a>
    </div>
    <table border="1" cellpadding="1" cellspacing="0">
        <thead>
        <tr>
            <td>Block</td>
            <td>Floor</td>
            <td>Name</td>
            <td>Circuits</td>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="row in circuits">
            <td>{{row.block}}</td>
            <td>{{row.floor}}</td>
            <td>{{row.name}}</td>
            <td>{{row.circuits}}</td>
        </tr>
        </tbody>
    </table>
</div>
