@import "base";

@import "partials/fonts";

@import "partials/global";

// -----------------------------------------------------------------------------
//{ region PLUGINS/DIRECTIVES
//} endregion
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
//{ region STRUCTURE
#HOME                                                                           {
  form                                                                          {
    display:        flex;
    flex-direction: column;
    
    .label                                                                      {
      display:  inline-block;
      width:    100px;
    }
    
    input.ng-invalid                                                            {
      background-color: #FA787E;
    }
    input.ng-valid                                                              {
      //background-color: #78FA89;
    }
  }
}
//} endregion
// -----------------------------------------------------------------------------
